.inputBox{
    .label{

        &__disabled{
            font-size: .75rem;
            color: rgb(207, 165, 109);
        }
        &__enabled{
            font-size: .95rem;
            color: rgb(0, 0, 0);
        }
    }
    .enabled{
        outline: 0;
        border-width: 0 0 2px;
        border-color: rgb(0, 0, 0);
    }
    
    .disabled{
        outline: 0;
        border-width: 0 0 2px;
        border-color: rgb(175, 99, 0);
    }
}

