.sliderDiv{
    width: 90%;
    .sliderLabelDiv{
        color: rgb(122, 122, 122);
        &__disabled{
            text-align: center;
            font-family: 'Julius Sans One', sans-serif;
            font-size: 1.5rem;
            color: rgb(122, 122, 122);
        }
        &__enabled{
            text-align: center;
            font-family: 'Julius Sans One', sans-serif;
            font-size: .95rem;
            color: rgb(0, 0, 0);
        }
    }
    .sliderInputDiv{
        padding-left: 5%;
        width:100%;
        .slider{
            width: 100%;
        }
    }
}