.journalPageContainer{
    .journalText{
        width: 40%;
        float: left;
    }

    JournalImages{
        width: 50%;
        float: left;
    }

    .imageDiv{
        float: left;
        margin-left: 4%;
    }

    .entry{
        .enabled{
            border-width: 0.5px 0.5px 2px;
        }
        .disabled{
            border-width: 0.5px 0.5px 2px;
        }
        
    }
}