.table{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1rem;
  color: rgb(122, 122, 122);
  border-collapse: collapse;
  width: 100%;
  .tableRow{
    border-bottom: solid rgb(122, 122, 122) .5px;
    width: 100%;
    padding-bottom: .5rem;
    .tableCell{
      text-align: center;
      padding: 0.5rem;
    }
  }
}

.addNewEntryButtonDiv{
  width: 50%;
  margin-left: 25%;
  .addNewEntryButton{
    background-color: rgb(230, 230, 230);
    border-radius: 25px;
    border-color: rgb(230, 230, 230);
    width: 100%;
  }
}

.biographyDiv{
    .section1{
      width: 33%;
      float: left;
      height: 22rem;
      .inputBox{
        .input-element-div__dedications{
          
          .enabled{
            border-width: 1px 1px 1px !important;
          }
        
          .disabled{
              border-width: 1px 1px 1px !important;
          }
          
          
        }
      }
    }
    .section2{
      width: 66%;
      float: left;
      height: 22rem;
    }

    .prefaceDiv{
      margin-top: 2rem;
      width: 100%;
      .inputBox{
        .input-element-div__preface{
          
          .enabled{
            border-width: 1px 1px 1px !important;
          }
        
          .disabled{
              border-width: 1px 1px 1px !important;
          }
          
          
        }
      }
    }
  
}